spring:
  datasource:
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/liquibase-changelog.xml
